<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!--unix系统日志文件的文件名-->
	<logfile>wtmpx</logfile>

	<!-- 保存解析后日志的文件的文件名 -->
	<textLogfile>log.txt</textLogfile>

	<!--  书签文件的文件名 -->
	<lastpositionfile>last-position.txt</lastpositionfile>

	<!--  一次解析日志的条数 -->
	<batch>10</batch>
	
	<!-- 保存配对日志的文件的文件名 -->
	<logMatchFile>logMatch.txt</logMatchFile>
	
	<!--保存没有配对日志，即只有登录没有登出，的文件的文件名 -->
	<logNoMatchFile>logNoMatch.txt</logNoMatchFile>
	
	<!-- 服务端的地址 -->
	<serverhost>localhost</serverhost>
	
	<!-- 服务端端口 -->
	<serverport>8088</serverport>
</config>